![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [3]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.5.3

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [4]:
# your code goes here
pd.Series()

<ipython-input-4-c9dfc8139efe>:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [5]:
pd.Series()

<ipython-input-5-fa15c544da3b>:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [57]:
# your code goes here
X = ['A', 'B', 'C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y))

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

In [7]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

['A', 'B', 'C'] <class 'list'>
0    A
1    B
2    C
dtype: object <class 'pandas.core.series.Series'>

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [58]:
# your code goes here
X = pd.Series(['A', 'B', 'C'])
X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

In [60]:
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

0    A
1    B
2    C
Name: My letters, dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [61]:
# your code goes here
X = pd.Series(['A','B','C'])
X.values

array(['A', 'B', 'C'], dtype=object)

In [11]:
X = pd.Series(['A','B','C'])

X.values

array(['A', 'B', 'C'], dtype=object)

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [62]:
# your code goes here
index_names = ['first','second','third']
X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [13]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [65]:
# your code goes here
X = pd.Series(['A','B','C'],index=['first','second','third'])
X[0]
X.iloc[0]
X['first']

'A'

In [15]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X['first'] # by index

'A'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [68]:
# your code goes here
X[-1]
X.iloc[-1]
X['third']

'C'

In [17]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

'C'

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [71]:
# your code goes here
X = pd.Series(['A','B','C','D','E'], index=['first','second','third','forth','fifth'])
X[['second','third','forth']]
X[1:-1]
X.iloc[1:-1]

second    B
third     C
forth     D
dtype: object

In [19]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [73]:
# your code goes here
X[::-1]
X.iloc[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

In [21]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [77]:
# your code goes here
X[['first','fifth']]
X.iloc[[0,-1]]
X[[0,-1]]

first    A
fifth    E
dtype: object

In [23]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

first    A
fifth    E
dtype: object

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [79]:
# your code goes here
X = pd.Series([1,2,3,4,5],index=['first','second','third','forth','fifth'])
pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

In [25]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)

<ipython-input-25-a7818c281d65>:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  pd.Series(X, dtype=np.float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [80]:
# your code goes here
X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

In [27]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [81]:
# your code goes here
X = pd.Series([4,2,1,5,3],index=['forth','second','fifth','first','third'])
X= X.sort_values()
X

fifth     1
second    2
third     3
forth     4
first     5
dtype: int64

In [29]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [83]:
# your code goes here
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
X['E'] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [31]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [86]:
# your code goes here
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])
# X['A':'E'] = 0 # IF WE use labels(index names) then upper and lower both limits are included
X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [33]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [87]:
# your code goes here
X = pd.Series([1,2,3,4,5])
X+5

0     6
1     7
2     8
3     9
4    10
dtype: int64

In [35]:
X = pd.Series([1,2,3,4,5])

X + 5

0     6
1     7
2     8
3     9
4    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [88]:
# your code goes here
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

In [37]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [89]:
# your code goes here
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

In [39]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [91]:
# your code goes here
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

In [41]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [92]:
# your code goes here
mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

In [43]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

1     2
4     5
5     6
9    10
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [93]:
# your code goes here
mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

In [45]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [94]:
# your code goes here
X.all()

False

In [47]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

False

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [95]:
# your code goes here
X.any()

True

In [49]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

True

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [97]:
# your code goes here
X = pd.Series([3,5,6,7,2,3,4,9,4])
X.sum()
np.sum(X)

43

In [51]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

43

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [99]:
# your code goes here
X = pd.Series([1,2,0,4,5,6,0,0,9,10])
X.mean()
np.mean(X)

3.7

In [53]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

3.7

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [102]:
# your code goes here
X.max()
np.max(X)

10

In [55]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)